In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/diego/spark/spark-3.2.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/12 14:17:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Question 1

In [3]:
spark.version

'3.2.3'

## Question 2

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz -O /home/diego/tmp/data/fhvhv_tripdata_2021-06.csv.gz

--2023-04-12 14:19:32--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230412%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230412T141932Z&X-Amz-Expires=300&X-Amz-Signature=78ba9d7038857f904d1844e08886e7e22e807304838cffe9e5bd7ffcb43537f7&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-04-12 14:19:32--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230412%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230412T141932Z&X-Amz-Expires=300&X-Amz-Signature=78ba9d7038857f904d1844e08886e7e22e807304838cffe9e5bd7ffcb43537f7&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘/home/diego/tmp/data/fhvhv_tripdata_2021-06.csv.gz’

/home/diego/tmp/dat 100%[===================>] 167.66M  51.2MB/s    in 3.5s

2023-04-12 14:19:36 (47.7 MB/s) - ‘/home/diego/tmp/data/fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [10]:
df = spark. \
    read. \
    option("header", "true"). \
    option('inferSchema', 'true'). \
    csv('/home/diego/tmp/data/fhvhv_tripdata_2021-06.csv.gz')
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropoff_datetime: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [11]:
df.schema

StructType(List(StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,StringType,true),StructField(dropoff_datetime,StringType,true),StructField(PULocationID,IntegerType,true),StructField(DOLocationID,IntegerType,true),StructField(SR_Flag,StringType,true),StructField(Affiliated_base_number,StringType,true)))

In [13]:
from pyspark.sql import types

fhvhv_schema = types.StructType([
    types.StructField("dispatching_base_num", types.StringType(), True),
    types.StructField("pickup_datetime", types.TimestampType(), True),
    types.StructField("dropoff_datetime", types.TimestampType(), True),
    types.StructField("PULocationID", types.IntegerType(), True),
    types.StructField("DOLocationID", types.IntegerType(), True),
    types.StructField("SR_Flag", types.StringType(), True),
    types.StructField("Affiliated_base_number", types.StringType(), True)
])

In [14]:
df = spark. \
    read. \
    option("header", "true"). \
    schema(fhvhv_schema). \
    csv('/home/diego/tmp/data/fhvhv_tripdata_2021-06.csv.gz')

In [15]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [16]:
df.repartition(12).write.parquet('/home/diego/tmp/data/fhv/2021/06/')

In [17]:
!ls -lh /home/diego/tmp/data/fhv/2021/06/

total 284M
-rw-r--r-- 1 diego diego   0 Apr 12 14:36 _SUCCESS
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00000-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00001-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00002-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00003-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00004-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00005-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00006-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00007-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00008-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00009-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00010-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet
-rw-r--r-- 1 diego diego 24M Apr 12 14:36 part-00011-25103429-7cc9-4c18-99e0-a977a903cc19-c000.snappy.parquet

## Question 3

In [29]:
import pyspark.sql.functions as F

df.filter(F.to_date(df['pickup_datetime']) == '2021-06-15').count()

452470

In [28]:
df.show(1)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|pickup_date|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764| 2021-06-01|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+
only showing top 1 row

## Question 4

In [30]:
df = df.withColumn('delta', df['dropoff_datetime'] - df['pickup_datetime'])

In [31]:
df.show(1)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+--------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|pickup_date|               delta|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+--------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764| 2021-06-01|INTERVAL '0 00:05...|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+-----------+--------------------+
only showing top 1 row

In [38]:
df = df.withColumn('delta_hours', (df['dropoff_datetime'].cast('long') - df['pickup_datetime'].cast('long'))/3600)

In [41]:
df.select(F.max(df['delta_hours'])).show()

+----------------+
|max(delta_hours)|
+----------------+
|66.8788888888889|
+----------------+

## Question 5

Port 4040

## Question 6

In [42]:
zones = spark.read.parquet('/home/diego/tmp/zones/')
zones.show(1)

+----------+-------+--------------+------------+
|LocationID|Borough|          Zone|service_zone|
+----------+-------+--------------+------------+
|         1|    EWR|Newark Airport|         EWR|
+----------+-------+--------------+------------+
only showing top 1 row

In [43]:
df.createOrReplaceTempView('fhvhv')
zones.createOrReplaceTempView('zones')

In [48]:
spark.sql('''
    SELECT 
        z.Zone, 
        count(1) AS cuenta
    FROM
        fhvhv as f
    LEFT JOIN
        zones as z
    ON f.PULocationID = z.LocationID
    GROUP BY z.Zone
    ORDER BY 2 desc 
    LIMIT 1
''').show()

+-------------------+------+
|               Zone|cuenta|
+-------------------+------+
|Crown Heights North|231279|
+-------------------+------+